@model TheGym.Models.SignUp

<!--Sign up-->
<form method="post" asp-controller="User" asp-action="SignUp" enctype="multipart/form-data" autocomplete="off" class="sign-up-form">
    <div class="logo">
        <img src="./images/C_Logo.png" alt="contractly" />
        <h4>Contractly</h4>
    </div>

    <div class="heading">
        <h2>Get Started</h2>
        <h6>Already have an account?</h6>
        <a href="#" class="toggle">Sign in</a>
    </div>

    <div class="actual-form">
        <div class="input-wrap">
            <input id="name"
                   asp-for="UserName"
                   class="input-field"
                   autocomplete="off"
                   required />
            <label for="name">Name</label>

        </div>

        <div class="input-wrap">
            <input id="email"
                   asp-for="Email"
                   class="input-field"
                   autocomplete="off"
                   required />
            <label for="email">Email</label>

        </div>

        <div class="input-wrap">
            <input id="password"
                   asp-for="Password"
                   class="input-field"
                   autocomplete="off"
                   required />
            <label for="password">Password</label>

        </div>

        <input type="submit" value="Sign Up" class="sign-btn" />

        <p class="text">
            By signing up, I agree to the
            <a href="#">Terms of Services</a> and
            <a href="#">Privacy Policy</a>
        </p>
    </div>
</form>
