@{
    ViewData["Title"] = "Create Claims";
}
@model TheGym.Models.Claim

<div class="text-center">
    <h1>Create Claim</h1>

    
    <form asp-action="Create" method="post"> 

        <label>
            Claim Amount 
        </label>
        <input class="form-control" type="number" placeholder="0" asp-for="ClaimAmount"/>

        <label>
            Claim Month
        </label>
        <input class="form-control" type="date"  placeholder="0" asp-for="ClaimMonth"/>

        <label>
             Claim Details 
        </label>
        <input class="form-control" type="text" placeholder="0" asp-for="ClaimDescription "/>

        <br />
        <button class="btn btn-primary" type="submit">Create</button> 
    </form>
</div>
