
@{
    ViewData["Title"] = "Dashboard";
}
<div class="dashboard">
<div class="sidebar">
    <div class="logo"></div>

    <ul class="menu">
        <li class="active">
            <a href="#" >
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
    

        <li>
            <a href="#">
                 <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
    

        <li>
            <a href="#">
                <i class="fas fa-chart-bar"></i>
                <span>Statistics</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                <span>Career</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                <span>FAQ</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-star"></i>
                <span>Testimonials</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
            </a>
        </li>
    
        <li class="logout">
            <a href="#">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</div> 

    <!--Main Content-->
    <div class="dash-main-content">
        <div class="header-wrapper">
            <div class="header-title">
               <span>Primary</span>  
               <h2>Dashboard</h2>
            </div>

            <!--Profile -->
            <div class="user-info">
                <div class="search-box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" placeholder="Search" />
                </div>
                <img src="~/images/img.jpeg"/>
            </div>
        </div>

        <!-- 'User data'-->
        <div class="card-container">
            <h3 class="main-title">Data</h3>
            <div class="card-wrapper">

                <div class="account light-red">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Claimed amount</span>
                            <span class="amount-value">$400</span>
                        </div>
                        <i class="fas fa-dollar icon dark-red"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 3486</span>
                </div>

                <div class="account light-purple">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Claim order</span>
                            <span class="amount-value">$0</span>
                        </div>
                        <i class="fas fa-dollar icon dark-purple"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 6698</span>
                </div>

                <div class="account light-green">
                    <div class="account-header">
                        <div class="amount">
                            <span class="title">Clam proceed</span>
                            <span class="amount-value">$400</span>
                        </div>
                        <i class="fas fa-dollar icon dark-green"></i>
                    </div>
                    <span class="account-detail">***** ***** ***** 7557</span>
                </div>

            </div>
        </div>

        <div class="tabular-wrapper" >
            <h3 classs="main-title">Claims data</h3>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Claim ID</th>
                            <th>Date Filed</th>
                            <th>Type Of Claim</th>
                            <th>Description</th>
                            <th>Hours worked</th>
                            <th>Hourly rate</th>
                            <th>Amount</th>
                            <th>Asigned To</th>
                            <th>Status</th>
                            <th>Resolution Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr>
                        <td>004</td>
                        <td>02/10/2024</td>
                        <td>Breach</td>
                        <td>They hacked my acc</td>
                        <td>6hr</td>
                        <td>$10</td>
                        <td>$100</td>
                        <td>Nkosana</td>
                        <td>Pending</td>
                        <td>14/11/2024</td>
                        <td><button>Edit</button><button>Delete</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">Total: 400</td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

</div>