@{
    ViewData["Title"] = "The GYM";
}
 
<main class="main">

    <div class="box">

        <div class="inner-box"> <!--to add padding in the parent box-->

            <!--My form wrap-->
            <div class="forms-wrap">

                <!--Sign in form-->
                <form action="index.html" autocomplete="off" class="sign-in-form">

                    <div class="logo">
                        <img src="./images/C_Logo.png" alt="contractly" />
                        <h4>Contractly</h4>
                    </div>

                    <div class="heading">
                        <h2>Welcome Back</h2>
                        <h6>Not registred yet?</h6>
                        <a href="#" class="toggle">Sign up</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input id="name"
                                   type="text"
                                   minlength="4"
                                   class="input-field"
                                   autocomplete="off"
                                   required />
                            <label for="name">Name</label>
                        </div>

                        <div class="input-wrap">
                            <input id="password"
                                   type="password"
                                   minlength="4"
                                   class="input-field"
                                   autocomplete="off"
                                   required />
                            <label for="password">Password</label>
                        </div>

                        <input type="submit" value="Sign In" class="sign-btn" />

                        <p class="text">
                            Forgotten your password or you login datails?
                            <a href="#">Get help</a> signing in
                        </p>
                    </div>
                </form>

                <!--Sign up-->
                <form action="index.html" autocomplete="off" class="sign-up-form">
                    <div class="logo">
                        <img src="./images/C_Logo.png" alt="contractly" />
                        <h4>Contractly</h4>
                    </div>

                    <div class="heading">
                        <h2>Get Started</h2>
                        <h6>Already have an account?</h6>
                        <a href="#" class="toggle">Sign in</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input id="name"
                                   type="text"
                                   minlength="4"
                                   class="input-field"
                                   autocomplete="off"
                                   required />
                            <label for="name">Name</label>
                        </div>

                        <div class="input-wrap">
                            <input id="email"
                                   type="email"
                                   class="input-field"
                                   autocomplete="off"
                                   required />
                            <label for="email">Email</label>
                        </div>

                        <div class="input-wrap">
                            <input id="password"
                                   type="password"
                                   minlength="4"
                                   class="input-field"
                                   autocomplete="off"
                                   required />
                            <label for="password">Password</label>
                        </div>

                        <input type="submit" value="Sign Up" class="sign-btn" />

                        <p class="text">
                            By signing up, I agree to the
                            <a href="#">Terms of Services</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </form>
            </div>
            <!--End of My form wrap-->

            <!--The side carousel-->
            <div class="carousel">
                <div class="images-wrapper">
                    <img src="./img/image1.png" class="image img-1 show" alt="" />
                    <img src="./img/image2.png" class="image img-2" alt="" />
                    <img src="./img/image3.png" class="image img-3" alt="" />
                </div>

                <div class="text-slider">
                    <div class="text-wrap">
                        <div class="text-group">
                            <h2>Create your own courses</h2>
                            <h2>Customize as you like</h2>
                            <h2>Invite students to your class</h2>
                        </div>
                    </div>

                    <div class="bullets">
                        <span class="active" data-value="1"></span>
                        <span data-value="2"></span>
                        <span data-value="3"></span>
                    </div>
                </div>
            </div>
            <!--End of side carousel-->

        </div>
    </div>
</main>



<!--
 <header>
        //NavBar
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  bg-transparent">
            <div class="container-fluid">

                //Logo
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Claim System</a>

                //Toggle btn
                <button class="navbar-toggler shadow-none border-0" 
                type="button" 
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" 
                aria-controls="offcanvasNavbar" 
                aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                </button>

                //Side
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            // <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" href="#section1" >Home</a>
                            <a class="nav-link text-dark" href="#section1" >Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#section2">Program</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#section3">Schedule</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#section4">Events</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#section5">Claims</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#section6">About</a>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                         </li>
                      
                    </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        
    </header>
    -->

<!--
//Welcome Section
<div class = "welcome" id="section1">
    <div class="landing-text">
        <h2>THE GYM</h2>
        <h3>Transform Your Body, Empower Your Life</h3>
    </div>

</div>

<div class = "program" id="section2">
<h2>PROGRAM</h2>
</div>

<div class = "schedule" id="section3">
<h2>SCHEDULE</h2>
</div>

<div class = "events" id="section4">
<h2>EVENTS</h2>
</div>

//Claim Section
<div class = "claims" id="section5">

    <div class="contentWrapper">
        <div class="content">
            <h2>Claims</h2>
            <p>Do you want to get a  claim?</p>
            <a asp-controller="Claim" asp-action="CreateClaim" class="claim-button">Claim</a>
        </div>
    </div>

<div class="imgWrapper">
    <img src="\images\bg-claim.png" />
</div>

</div>


//About Section
<div class = "about" id="section6">
<h2>ABOUT</h2>
</div>
-->