@{
    ViewData["Title"] = "Home Page";
}

<div class = "welcome" id="#section1">

<h2>THE GYM</h2>
</div>

<div class = "program" id="#section2">
<h2>PROGRAM</h2>
</div>

<div class = "schedule" id="#section3">
<h2>SCHEDULE</h2>
</div>

<div class = "events" id="#section4">
<h2>EVENTS</h2>
</div>

<div class = "about" id="#section5">
<h2>ABOUT</h2>
</div>

<div class = "contact" id="#section6">
<h2>CONTACT</h2>
</div>

